
* {
    padding: 0;
    margin: 0;
    font-family: 'Righteous';
    
}

.menu{
    display: block;
}

.menu ul li {
    margin-right: 10px ;
    color: #ffff;
    background-color: rgb(60,103,227,.4) ;
    padding: 8px;
    border-radius: 8px;
  
}
header{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #191e29;
  position: fixed;
  z-index: 999;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
 
.menu ul li a {
  color: #fff;
}    
  

.logo-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;


 
}

.container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    
}



.menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;    

    
}



@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 43vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  body{
    background: #212534;
    box-sizing: border-box;
    min-height: 100vh;
 
  }
  .bodyhome{
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  
  .card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    margin: 23px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
   
    
  }
  
  .card a:hover {
    color: rgb(88 199 250 / 100%);
    font-family: 'BlackRavens' !important;
    font-size: 50px;
    opacity: 1;
 
  }
  /* .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  } */

  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #ec701e , 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 90%;
    width: 110%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 10));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
  }

  .cards a{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3.5px;

  }


.logo img {
  width: 150px;
  padding: 10px;
}
  

.logo{
 color: #ffff;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 65px;
}



.menu ul li:hover{
  background-color: rgba(236, 112, 30, .8)
}

.events{
  background-image: url(/assets/resimler/events.gif);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

.pridepainting{
  background-image: url(/assets/resimler/gururtablosu.gif);
  background-position: center;
  background-size: cover;
}

.library{
  background-image: url(/assets/resimler/kütüphane.gif);
  background-position: center;
  background-size: cover;
}


.events:hover,.pridepainting:hover,.library:hover{
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);  
}



form{
  border: 4px solid #ea6f1e;
  text-align: center;
  padding: 15px;
  max-width: 500px;
  
}


.forms{
  display: flex;
  margin-top: 15px;
  align-items: center;
  
}




.newsletter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}


.newsletter input{
 margin-left: 10px;
 padding: 3px;
 background-color: transparent;
 border-bottom: 2px solid #fff !important;
 border: none;
 color: #fff;
}

.btn-1{
  background-image: linear-gradient( var(--rotate) , #5ddcff, #3c67e3 43%, #4e00c2);
  animation: spin 2.5s linear infinite;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  color: #fff;
  

}

form,.forms label {
  color: #fff;
}









@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: #ed701e;
    margin: 5px;
  }
  nav {
    position: relative;
  }


  .menu ul li {
    margin-bottom: 15px;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: #264692;
    height: 100vh;
    width: 100%;
    right: 0px;
    z-index: 99;  
    top: 90px;
    flex-direction: column;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}


.footer-label{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191e29;
  padding: 20px;
  box-shadow: rgb(0 0 0 / 48%) 6px 2px 16px 0px, rgb(0 0 0 / 80%) -6px -2px 16px 0px;

}


.Home-page{
  margin: 100px;
}


.table-img img{
  max-width:150px;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient( var(--rotate) , #ec701e, #3c67e3 43%, #4e00c2) 30;
  animation: spin 2.5s linear infinite;
}

section {
  margin-top: 150px;
}


li::marker{
  color: #fff;

}


.Tables {
  display: flex;
  color: #fff;
  margin-top:10px;
  flex-direction: column;
  background: inherit;
	box-shadow: inset 0 0 60px rgba(47, 116, 206, 0.5);
align-items: center;
padding-top: 10px;




}

.Table-content p{
  max-width: 180px;
  padding: 5px;

}

.table-social{
  padding: 10px;
}

.pride-table ol li {
  margin-bottom:  10px;

}

.table-social a {
  margin-right: 14px;
  color: #264692;
}

.pride-table h1 {
 text-align: center;
 color: #fff;
 margin-bottom: 40px;
  font-size: 40px;

}


.BestWeekcontent{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.swiper {
  width: 100%;
  height: auto;
}



.swiper-button-next::after{
  display: none !important;
}
.swiper-button-prev::after{
  display: none !important;
}

.custom-next{
  display: block  !important;
  width: 30px !important;
  height: 30px !important;
  background-image: url(/assets/resimler/icons/right-arrow.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: static !important;
  margin: 0 !important;
  float: right !important;
  margin: 5px;
  margin-left: 10px !important;


}

.custom-prev{
  display: block  !important;
  width: 30px !important;
  height: 30px !important;
  background-image: url(/assets/resimler/icons/left-arrow.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: static !important;
  margin: 0 !important;
  float: right !important;
  margin: 5px;
 
  



}

.slider-nav{
  margin-right: 15px;
}

.BestWeek h2 {
  margin-bottom: 20px;
}

.BestWeek { 
 
   color: #fff;
   text-align: center;
  margin-top: 20px;

}

.BestWeekcontent .table-img {
  margin-right: 5px;
  margin-left: 5px;
}
   

.slider-navs{
  margin-top: 10px;
}


.video-and-image{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.video-and-image p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding-top: 10px;
}





.Video-gallery h1{
  display: flex;
  align-items: center;
  justify-content: center;


}

.Video-gallery {

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Video-gallery a {
  margin-bottom: 10px;
}

.Video-gallery img {
  max-width: 300px;
}

.video-head{
  color: #fff;
  text-align: center;
  margin-bottom: 20px;

}


@media screen and (max-width: 415px) {
  .table-img img{
    max-width: 150px;
  }


  .BestWeekcontent img {
    max-width: 100px;
  }

  .BestWeekcontent{
    flex-direction: column;
  }


}